@model IEnumerable<GEPV.Domain.Entities.Feriado>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">


            <div id="calendar"></div>


        </div>
    </div>
</div>

<link rel="stylesheet" href="~/Scripts/calendar/calendar.css">
<script src="~/Scripts/calendar/js-year-calendar.js"></script>
<script src="~/Scripts/calendar/calendar.js"></script>